# Build and Release Folders
bin-debug/
bin-release/

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project

#alchemy files
*.o
*.achacks.as
*.achacks.exe
*.achacks.exe.bc
*.achacks.o
*.achacks.swc
*.achacks.abc